@import '../../stylesheets/helpers/variables';
@import '../../stylesheets/helpers/mixins';

//  ==========================================================================
//
//  Layout
//
//  ==========================================================================
.site-header,
.site-footer {
  background-color: $color-dark;
  padding: 16px 0;

  @include breakpoint(md) { padding: 25px 0; }

  h1, h2, h3,
  h4, h5, h6, p { color: $color-white; }
}

.site-header { @include breakpoint(lg) { padding-bottom: 120px; } }

nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin: 8px 0 20px;

  li {
    margin: 4px;

    > a {
      display: block;
      font-family: $font-bold;
      padding: 8px;
      @include font-line-height-px(16, 22);

      &.is-active { color: $color-white; }
    }
  }
}

main {
  position: relative;

  h1, h2, h3,
  h4, h5, h6 { color: $color-black; }
}

//  ==========================================================================
//  Custom Layout Elements
//  ==========================================================================
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__contents { flex: 1; }

.main__wrapper {
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba($color-dark, 0.12);
  margin-bottom: 100px;
  margin-top: -15px;
  padding: 20px 24px 24px;

  @include breakpoint(md) { padding: 35px 40px 40px; }

  @include breakpoint(lg) {
    margin-bottom: 60px;
    margin-top: -110px;
  }

  &::before {
    @include breakpoint(lg) {
      content: '';
      width: 100%;
      height: 100px;
      background-color: $color-dark;
    }
  }
}

.main__header {
  margin-bottom: 30px;
  + section { margin-top: 50px; }
}

.container {
  margin: 0 16px;
  position: relative;
  width: auto;

  @include breakpoint(sm) {
    margin: 0 auto;
    max-width: 580px;
    width: 82%;
  }

  @include breakpoint(md) { max-width: 980px; }

  @include breakpoint(lg) {
    max-width: 1440px;
    width: 94%;
  }
}
