@import '../../stylesheets/helpers/variables';
@import '../../stylesheets/helpers/mixins';

//  ==========================================================================
//
//  Layout
//
//  ==========================================================================
header,
footer {
  background-color: $dark;
  padding: 16px 0;

  @include breakpoint(md) { padding: 25px 0; }

  h1, h2, h3,
  h4, h5, h6, p { color: $white; }
}

nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin: 8px 0 20px;

  li {
    margin: 4px;

    > a {
      display: block;
      font-family: $font-bold;
      padding: 8px;
      @include font-line-height-px(16, 22);

      &.is-active { color: $white; }
    }
  }
}

main {
  position: relative;

  h1, h2, h3,
  h4, h5, h6 { color: $black; }
}

//  ==========================================================================
//  Custom Layout Elements
//  ==========================================================================
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__contents { flex: 1; }

.main__wrapper {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba($dark, 0.12);
  margin-bottom: 100px;
  margin-top: -15px;
  padding: 20px 24px 24px;

  @include breakpoint(md) { padding: 35px 40px 40px; }
  @include breakpoint(lg) { margin-top: -100px; }

  &::before {
    @include breakpoint(lg) {
      content: '';
      width: 100%;
      height: 100px;
      background-color: $dark;
    }
  }
}

.container {
  margin: 0 16px;
  position: relative;
  width: auto;

  @include breakpoint(sm) {
    margin: 0 auto;
    max-width: 580px;
    width: 82%;
  }

  @include breakpoint(md) { max-width: 680px; }
  @include breakpoint(lg) { max-width: 1200px; }
}
