//  ======================================================================================================
//
//  Variables
//
//  ======================================================================================================

//  Responsive Breakpoints
//  --------------------------------------------------
  $break-sm:  580px  !default;
  $break-md:  768px  !default;
  $break-lg:  1024px !default;
  $break-xl:  1280px !default;

//  Color
//  --------------------------------------------------
  // Neutrals
  $white:    rgba(255,255,255,1) !default; // #FFFFFF
  $black:    rgba(0,  0,  0  ,1) !default; // #000000

  // Theme Colors
  $dark:     rgba(14 ,30 ,37 ,1) !default; // #0e1e25
  $pop:      rgba(0  ,173,159,1) !default; // #00ad9f
  $alert:    rgba(250,216,107,1) !default; // #fad86b
  $neutral:  rgba(233,233,235,1) !default; // #e9ebeb
  $utility:  rgba(113,126,131,1) !default; // #717e83
  $bg:       rgba(244,247,248,1) !default; // #f4f7f8

//  Default Color Settings
//  --------------------------------------------------
  $body-bg:                 $bg         !default;
  $default-txt-color:       $white      !default;
  $placeholder-txt-color:   $neutral    !default;

  $hr-color:                $neutral    !default;
  $highlight:               $pop        !default;
  $highlight-text:          $white      !default;

//  Font Families
//  --------------------------------------------------
  $font-open-sans-bold:     'Open-Sans-Bold', 'Gill Sans MT', 'Gill Sans', Helvetica, Arial, sans-serif !default;
  $font-open-sans-italic:   'Open-Sans-Italic', 'Gill Sans MT', 'Gill Sans', Helvetica, Arial, sans-serif !default;
  $font-open-sans:          'Open-Sans', 'Gill Sans MT', 'Gill Sans', Helvetica, Arial, sans-serif !default;

//  Font Stacks
//  --------------------------------------------------
  $font-bold:               $font-open-sans-bold   !default;
  $font-regular:            $font-open-sans        !default;
  $font-italic:             $font-open-sans-italic !default;

//  Type Sizes (use rem mixin to apply)
//  --------------------------------------------------
  $font-size-root:          63%                !default;
  $font-size-base:          1rem               !default;

//  Defaults
//  --------------------------------------------------
  $font-weight-default:     normal               !default;
  $line-height-base:        1.5                  !default;

//  Headings
//  --------------------------------------------------
  $headings-font-family:    $font-bold           !default;
  $headings-font-weight:    normal               !default;
  $headings-line-height:    $line-height-base    !default;
  $headings-font-color:     $white               !default;

//  Links
//  --------------------------------------------------
  $link-color:              rgba($white, 0.4)   !default;
  $link-hover-color:        rgba($white, 1)     !default;

//  Animation
//  --------------------------------------------------
  $default-animation:        all 0.3s !default;
  $default-animation-duration:   0.3s !default;
