//  ==========================================================================
//
//  Type
//
//  ==========================================================================
.lead {
  color: $color-dark;
  margin-top: 16px;

  ~ p {
    color: $color-utility;
    margin-top: 16px;
  }
}
