@import '../../stylesheets/helpers/variables';
@import '../../stylesheets/helpers/mixins';

//  ==========================================================================
//
//  Sections
//
//  ==========================================================================
.section-blocks {
  margin-bottom: 60px;

  @include breakpoint(md) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .section {
    @include breakpoint(md) {
      flex: 1;
      margin-bottom: 50px;
      max-width: 47%;
    }
  }

  .section__description { max-width: 440px; }
}

section {
  padding: 0 16px;
  margin-bottom: 30px;

  @include breakpoint(md) {padding: 0; }

  p {
    color: $color-utility;
    margin-top: 10px;
  }
}
