@import '../../stylesheets/helpers/variables';
@import '../../stylesheets/helpers/mixins';

//  ==========================================================================
//
//  Footer Styles
//
//  ==========================================================================
.footer__copyright {
  color: $color-utility;
  margin-left: 10px;
  opacity: 0.4;

  @include breakpoint(sm) { margin-bottom: 15px; }
}
